<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2">
    <test name="TestNG Test Group">
        <classes>
        <class name="TestSuites.LoginPF"/>
		<class name="TestSuites.LoginTest"/>
        <class name="TestSuites.PresentationPF"/>
		<class name="TestSuites.PresentationTest"/>
        </classes>
    </test>
</suite>